.navbar-brand {
    color: azure;
}

.btn {
    color: azure;
}

.footer-wrapper {
height: 140px;
color: black;
background: #07090a;
color: white;
padding-bottom: 100%;
flex-shrink: 0;
}

.footer-item {
    color: azure;
}

.container {
    min-height: calc(100vh - 70px);
    padding: 40px 40px 0 40px;
    flex: 1 0 auto;
    background-image: url(images/images.jfif);
    padding-left: 50%;
    padding-right: 50%;
    margin-left: 0%;
    text-align: left;


}
 
img {
    display: block;
    max-width: 100%;
    height: auto;
    
}

